{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Bon Appetit</title>

    <!-- Load favicon -->
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="{% static 'img/favicon.jpg' %}"
    />

    <!-- Include your CSS files here -->
    <link
      rel='stylesheet'
      as="style"
      href="{% static 'css/style.css' %}"
      
    />
  </head>

  <body>
    <!--Header content-->
    {% include 'partials/_header.html' %}

    <main>{% block content %} {% endblock %}</main>

    <!--Footer content-->
    {% include 'partials/_footer.html' %} 
    <!-- Replace this comment with your code  -->
  </body>
</html>
